* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --dark-purple: #0f0b24ff;
  --honolulu-blue: #0c76abff;
  --blue-ncs: #1180b8ff;
  --auburn: #a82828ff;
  --columbia-blue: #bbdef0ff;
  --white: #ffffff;
}

@font-face {
  font-family: "Source";
  src: url("source-sans-pro.black.ttf");
}

body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: url(img/bgport.png);
}
/* Navbar Start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: auto 4rem;
}

.navbar .navbar-nav a {
  color: var(--dark-purple);
  font-family: "Source";
  font-size: 1.4rem;
  text-transform: uppercase;
  font-style: bold;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.navbar .navbar-nav a:hover {
  color: var(--auburn);
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.navbar #check {
  display: none;
}

.navbar .icons {
  width: 2rem;
  height: 2rem;
  display: none;
  position: absolute;
  right: 2%;
}

.icons #menu-icon,
.icons #close-icon {
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#check:checked ~ .icons #menu-icon {
  transform: rotate(45deg) scale(0);
  opacity: 0;
}

#check:checked ~ .icons #close-icon {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.icons #close-icon {
  transform: rotate(-45deg) scale(0);
  opacity: 0;
}
/* Navbar End */

/* Social Start */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-purple);
  width: 10%;
  padding: 1rem;
  position: fixed;
  bottom: 1%;
  left: 1%;
}

.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social ul li a {
  color: var(--white);
  font-size: 1.4rem;
  transition: 0.3s ease;
}

.social ul li a:hover {
  color: var(--auburn);
}
/* Social End */

/* Content Start */
/* Content1 Start */
.container .content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 10rem;
  flex-direction: column;
  gap: 2rem;
}

.container .content1 .h1-container {
  overflow: hidden;
  width: 800px;
}

.container .content1 h1 {
  font-size: 4rem;
  color: var(--dark-purple);
  font-family: "Source", sans-serif;
  font-weight: 1500;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.container .content1 h1 .first-text {
  font-size: 4rem;
}

.container .content1 h1 span {
  color: var(--auburn);
  text-decoration: none;
  display: inline-block;
  position: relative;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.8) 30%,
    #fff 50%,
    rgba(0, 0, 0, 0.8) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
  font-size: 6rem;
}

.container .content1 h1 span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  border-left: 2px solid var(--auburn);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.container .content1 p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
  width: 50%;
  text-align: center;
  color: var(--dark-purple);
}

.container .content1 .scroll-down {
  margin-top: 2.5rem;
}
/* Content1 End */
/* Content End */

/* Media Query Start */
@media (max-width: 768px) {
  .navbar .icons {
    display: inline-flex;
    right: 5%;
    position: absolute;
  }

  .navbar {
    position: absolute;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--white);
    backdrop-filter: blur(50px);
    padding: 2rem 0;
    opacity: 0;
    gap: 1rem;
    overflow: hidden;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  #check:checked ~ .navbar-nav {
    opacity: 1;
    transform: translateY(0);
  }

  .navbar .navbar-nav li {
    margin-bottom: 1rem;
  }

  .social {
    width: 20%;
  }
}

@media (max-width: 500px) {
  /* Konten1 Start */
  .navbar {
    position: sticky;
  }

  .container .content1 h1 .first-text {
    font-size: 2rem;
  }

  .container .content1 .h1-container h1 span {
    max-width: 100%;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }
  /* Konten1 End */
}

@media (max-width: 400px) {
  .container .content1 .h1-container .sec-text {
    width: auto;
  }

  .social {
    width: 30%;
    padding: 0.8rem;
    bottom: 1rem;
    left: 1rem;
  }

  .social ul li a {
    color: var(--white);
    font-size: 1.3rem;
  }

  .container .content1 p {
    font-size: 20px;
  }
}
/* Media Query End */
